/* Kudos Jan Verstraete https://codepen.io/janverstr/pen/PvPoaV */

:root {
  --bg-clr: #444;
  --white: #fefefe;
  --black: #444;
  --red: #ed1e79;
  --orange: #ff6200;
  --light-grey: #ebebeb;
  --green: #d9e021;
  --blue: aqua;
  --mid-grey: #ccc;

  --donut-title: var(--black);
  --donut-interior: var(--white);

  --first-trimester: var(--red);
  --second-trimester: var(--green);
  --third-trimester: var(--orange);
}

html {
  text-align: center;
}

body {
  background-color: var(--bg-clr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--white);
}

h1 {
  font-weight: 400;
  font-size: 4em;
  margin-bottom: -1em;
}

.svg-item {
  max-width: 100%;
  display: inline-block;
}

svg {
  height: calc(100vh - 20em);
  min-height: calc(100vw);
  /* border: 1px solid green; */
}

.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
}

@keyframes donutfade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
    width: 80%;
  }
}

.trimester {
  stroke-width: 20;
}

.trimester-1-arc {
  stroke: var(--first-trimester);
}

.trimester-2-arc {
  stroke: var(--second-trimester);
}

.trimester-3-arc {
  stroke: var(--third-trimester);
}

.donut-ring {
  stroke: var(--light-grey);
}

.donut-segment {
  transform-origin: center;
}

.donut-segment-1 {
  stroke: var(--blue);
  animation: donut1 3s;
}

.donut-percent {
  animation: donutfadelong 1s;
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes donut1 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 69, 31;
  }
} */

.donut-text {
  fill: var(--donut-title);
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut-subtitle {
  font-size: 0.12em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color: #666;
  fill: #666;
  animation: donutfadelong 1s;
}

.donut-hole {
  fill: var(--donut-interior);
}

/* #progress {
  transform: translate(10%, 50%);
} */
